#listanav li{
margin-left: 10px;
}
body{
    margin: 0;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  tr{
    background-color: white;
  }
  th{
    background-color: white;
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid #F5F1ED;

  }
  td{
    text-align: center;
    justify-content: center;
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: 1px solid #F5F1ED;
    display: fixed;
  }
  table {
    border-radius: 20px;
    border-collapse: collapse;
    background-color: #DDD9CE;
  }  /* Rotate first bar */
  table {
    border-collapse: collapse;
  }  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .EcoIconLetter {
    margin-top: 40px;
    text-align: center;
    font-family: "Krona One", sans-serif;
    font-weight: bold;
    font-size: 60px;
  }
  .TextLogin{
    margin-top: 40px;
    font-family: "Krona One", sans-serif;
    font-weight: bold;
    font-size: 60px;
  }
.barradash{
  width: 13.7vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}
.Text1{
  width: 600px;
  margin: auto;
}
  #navbar{
    height: 100vh;
    width: 100%;

    text-align: center;

  }
#divbtn{
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 0px;
}
#divbtn button{
  margin-right: 20px;
  text-align: center;
  width: 300px;
  border-radius: 70px;
  font-size: 30px;
  height: 60px;
}
#Email{
  margin-top: 20px;
}
#negativo{
  color: red;
}
#positivo{
  color: green;
}