#mdconEquiVIS2{
    width:50vw
}
#mdEquiVis2Conger{
    width:92vw;
    height:92vh
}
ul{
    padding: 0px;
}
#mdcondiv1EquiVIS2
{gap:20px}
#mdconP1EquiVIS2
{font-size:40px}
#Gap200px
{width:200px}
#mdcondivFOTOEquiVIS2{
gap:100px
}
#mdcondivdivFOTOEquiVIS2{
font-size:100px; width:200px;  
}
#mdspanNomeEquiEQUIVIS{
    font-size:26px;
}
#mdinputNomeEqui{
    font-size:20px; width:400px;;margin-bottom:20px;
}
#txtAvisoEquiVis{
    width:360px;font-size:16px
}
#txtdescEquiVis{
    font-size: 32px;
}
#span400pxEquivis{
    width: 400px;
}
#descinpEquiVIS
{width:800px; border-radius:10px; margin-top:40px;}
#span48075Equivis{
width: 680px;
}
#btnAdicionarEquiVIS2{
border-radius:10px; ;width:200px;
}
#inputMDEquiVIS{
    padding:10px; font-size:20px;  width:400px;
}
#mddivequiDesc{
    margin-left: 150px;
}
#mddivEquiVIS2{
    gap:40px
}
@media screen and (max-width:1700px) {
    #mddivequiDesc{
        margin-left: 160px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:39px}
    #Gap200px
    {width:200px}
    #mdcondivFOTOEquiVIS2{
    gap:100px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:195px;  
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:26px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:370px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:16px
    }
    #txtdescEquiVis{
        font-size: 32px;
    }
    #span400pxEquivis{
        width: 400px;
    }
    #descinpEquiVIS
    {width:800px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 480px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:300px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:370px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -100px;
    }
}
@media screen and (max-width:1500px) {
    #mddivequiDesc{
        margin-left: 180px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:39px}
    #Gap200px
    {width:200px}
    #mdcondivFOTOEquiVIS2{
    gap:100px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:170px; margin-left: 30px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:26px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:350px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:16px
    }
    #txtdescEquiVis{
        font-size: 32px;
    }
    #span400pxEquivis{
        width: 400px;
    }
    #descinpEquiVIS
    {width:750px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 480px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:300px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:350px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -100px;
    }
}
@media screen and (max-width:1450px) {
    #mddivequiDesc{
        margin-left: 180px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:39px}
    #Gap200px
    {width:200px}
    #mdcondivFOTOEquiVIS2{
    gap:100px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:170px; margin-left: 50px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:24px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:340px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:16px
    }
    #txtdescEquiVis{
        font-size: 32px;
    }
    #span400pxEquivis{
        width: 400px;
    }
    #descinpEquiVIS
    {width:750px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 480px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:300px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:340px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -150px;
    }
}
@media screen and (max-width:1350px) {
    #mddivequiDesc{
        margin-left: 170px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:35px}
    #Gap200px
    {width:200px}
    #mdcondivFOTOEquiVIS2{
    gap:100px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:170px; margin-left: 150px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:22px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:320px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:16px
    }
    #txtdescEquiVis{
        font-size: 32px;
    }
    #span400pxEquivis{
        width: 400px;
    }
    #descinpEquiVIS
    {width:700px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 480px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:300px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:310px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -160px;
    }
}
@media screen and (max-width:1250px) {
    #mddivequiDesc{
        margin-left: 105px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:34px;margin-left: 20px;}
    #Gap200px
    {width:200px}
    #mdcondivFOTOEquiVIS2{
    gap:80px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:160px; margin-left: 150px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:22px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:310px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:15px
    }
    #txtdescEquiVis{
        font-size: 32px;
    }
    #span400pxEquivis{
        width: 400px;
    }
    #descinpEquiVIS
    {width:650px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 460px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:250px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:310px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -135px;
    }
}
@media screen and (max-width:1150px) {
    #mddivequiDesc{
        margin-left: 105px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:34px;margin-left: 20px;}
    #Gap200px
    {width:180px}
    #mdcondivFOTOEquiVIS2{
    gap:80px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:160px; margin-left: 150px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:20px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:280px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:15px
    }
    #txtdescEquiVis{
        font-size: 28px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:600px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 400px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:250px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:280px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -125px;
    }
}
@media screen and (max-width:1100px) {
    #mddivequiDesc{
        margin-left: 100px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:32px;margin-left: 20px;}
    #Gap200px
    {width:180px}
    #mdcondivFOTOEquiVIS2{
    gap:65px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:160px; margin-left: 150px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:18px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:270px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:15px
    }
    #txtdescEquiVis{
        font-size: 27px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:580px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 360px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:250px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:270px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -125px;
    }
}
@media screen and (max-width:1050px) {
    #mddivequiDesc{
        margin-left: 100px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:28px;margin-left: 20px;}
    #Gap200px
    {width:180px}
    #mdcondivFOTOEquiVIS2{
    gap:55px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:160px; margin-left: 150px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:17.5px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:230px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:15px
    }
    #txtdescEquiVis{
        font-size: 26px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:560px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 360px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:250px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:230px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -125px;
    }
}
@media screen and (max-width:1000px) {
    #mddivequiDesc{
        margin-left: 120px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:28px;margin-left: 20px;}
    #Gap200px
    {width:180px}
    #mdcondivFOTOEquiVIS2{
    gap:55px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:160px; margin-left: 130px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:17.5px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:220px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:15px
    }
    #txtdescEquiVis{
        font-size: 25px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:540px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 360px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:250px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:220px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -125px;
    }
}
@media screen and (max-width:950px) {
    #mddivequiDesc{
        margin-left: 100px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:26px;margin-left: 20px;}
    #Gap200px
    {width:150px}
    #mdcondivFOTOEquiVIS2{
    gap:40px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:160px; margin-left: 130px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:17.5px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:210px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:360px;font-size:15px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:500px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 300px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:250px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:210px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -125px;
    }
}
@media screen and (max-width:900px) {
    #mddivequiDesc{
        margin-left: 120px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:26px;margin-left: 20px;}
    #Gap200px
    {width:150px}
    #mdcondivFOTOEquiVIS2{
    gap:35px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:160px; margin-left: 130px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:15px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:180px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:300px;font-size:14px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:480px; border-radius:10px; margin-top:40px;}
    #span480pxEquivis{
    width: 320px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:230px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:180px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -105px;
    }
}
@media screen and (max-width:850px) {
    #mddivequiDesc{
        margin-left: 120px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:25px;margin-left: 20px;}
    #Gap200px
    {width:100px}
    #mdcondivFOTOEquiVIS2{
    gap:30px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:150px; margin-left: 125px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:15px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:160px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:300px;font-size:14px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:440px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 320px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:230px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:160px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -105px;
    }
}
@media screen and (max-width:800px) {
    #mddivequiDesc{
        margin-left: 150px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:25px;margin-left: 20px;}
    #Gap200px
    {width:100px}
    #mdcondivFOTOEquiVIS2{
    gap:25px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:140px; margin-left: 125px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:15px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:150px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:250px;font-size:13.5px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:420px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 270px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:200px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:150px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -105px;
    }
}
@media screen and (max-width:750px) {
    #mddivequiDesc{
        margin-left: 190px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:23px;margin-left: 20px;}
    #Gap200px
    {width:80px}
    #mdcondivFOTOEquiVIS2{
    gap:20px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:135px; margin-left: 100px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:15px;
    }
    #mdinputNomeEqui{
        font-size:20px; width:150px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:200px;font-size:12px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:380px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:180px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:150px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -105px;
    }
}
@media screen and (max-width:700px) {
    #mddivequiDesc{
        margin-left: 200px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:23px;margin-left: 20px;}
    #Gap200px
    {width:80px}
    #mdcondivFOTOEquiVIS2{
    gap:20px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:135px; margin-left: 100px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:14px;
    }
    #mdinputNomeEqui{
        font-size:16px; width:130px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:200px;font-size:12px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:360px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:180px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:130px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -95px;
    }
}
@media screen and (max-width:650px) {
    #mddivequiDesc{
        margin-left: 230px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:23px;margin-left: 20px;}
    #Gap200px
    {width:80px}
    #mdcondivFOTOEquiVIS2{
    gap:20px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:135px; margin-left: 100px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:13.5px;
    }
    #mdinputNomeEqui{
        font-size:16px; width:130px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:200px;font-size:12px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:360px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:180px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:130px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -80px;
    }
}
@media screen and (max-width:650px) {
    #mddivequiDesc{
        margin-left: 230px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:18px;margin-left: 20px;}
    #Gap200px
    {width:10px}
    #mdcondivFOTOEquiVIS2{
    gap:20px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:135px; margin-left: 100px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:13px;
    }
    #mdinputNomeEqui{
        font-size:16px; width:110px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:200px;font-size:12px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:360px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:160px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:110px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -90px;
    }
}
@media screen and (max-width:600px) {
    #mddivequiDesc{
        margin-left: 235px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:18px;margin-left: 20px;}
    #Gap200px
    {width:10px}
    #mdcondivFOTOEquiVIS2{
    gap:20px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:135px; margin-left: 100px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:13px;
    }
    #mdinputNomeEqui{
        font-size:16px; width:100px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:180px;font-size:11px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:360px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:160px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:100px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -90px;
    }
}
@media screen and (max-width:550px) {
    #mddivequiDesc{
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:18px;margin-left: 20px;}
    #Gap200px
    {width:10px}
    #mdcondivFOTOEquiVIS2{
    gap:20px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:135px; margin-left: 100px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:11.5px;
    }
    #mdinputNomeEqui{
        font-size:16px; width:100px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:130px;font-size:11px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 300px;
    }
    #descinpEquiVIS
    {width:280px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:160px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:100px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -75px;
    }
}
@media screen and (max-width:500px) {
    #mddivequiDesc{
        margin-left: 305px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:17px;margin-left: 20px;}
    #Gap200px
    {width:10px}
    #mdcondivFOTOEquiVIS2{
    gap:15px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:130px; margin-left: 80px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:11px;
    }
    #mdinputNomeEqui{
        font-size:16px; width:80px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:120px;font-size:11px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:240px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:160px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:80px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -70px;
    }
}
@media screen and (max-width:450px) {
    #mddivequiDesc{
        margin-left: 325px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:15px;margin-left: 5px;}
    #Gap200px
    {width:10px}
    #mdcondivFOTOEquiVIS2{
    gap:15px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:100px; width:130px; margin-left: 80px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:11px;
    }
    #mdinputNomeEqui{
        font-size:16px; width:70px;;margin-bottom:20px;
    }
    #txtAvisoEquiVis{
        width:100px;font-size:10px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:220px; border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:160px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:70px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -65px;
    }
}
@media screen and (max-width:400px) {
    #mddivequiDesc{
        margin-left: 355px;
    }
    #mdconEquiVIS2{
        width:50.5vw
    }
    #mdcondiv1EquiVIS2
    {gap:20px}
    #mdconP1EquiVIS2
    {font-size:14px;margin-left: 5px;}
    #Gap200px
    {width:10px}
    #mdcondivFOTOEquiVIS2{
    gap:10px
    }
    #mdcondivdivFOTOEquiVIS2{
    font-size:90px; width:100px; margin-left: 60px; 
    }
    #mdspanNomeEquiEQUIVIS{
        font-size:10px;
    }
    #mdinputNomeEqui{
        font-size:16px; width:60px;;margin-bottom:20px;

    }
    #txtAvisoEquiVis{
        width:80px;font-size:8.5px
    }
    #txtdescEquiVis{
        font-size: 24px;
    }
    #span400pxEquivis{
        width: 380px;
    }
    #descinpEquiVIS
    {width:180px;  border-radius:10px; margin-top:35px;}
    #span480pxEquivis{
    width: 240px;
    }
    #btnAdicionarEquiVIS2{
    border-radius:10px; ;width:160px;
    }
    #inputMDEquiVIS{
        padding:10px; font-size:20px;  width:60px;
        margin-left: -20px;
    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -40px;
    }
}
#mdconP1EquiVIS2
{margin-top:20px;margin-bottom:20px;}

#mdcondivdivFOTOEquiVIS2{
height:200px;}
#mdinputNomeEqui{
    height: 30px;
}

#descinpEquiVIS
{  height: 240px; margin-top:35px;margin-bottom: 30px;  }

#btnAdicionarEquiVIS2{
    height: 30px;

}
#inputMDEquiVIS{
    padding:10px; 
    height: 30px;

}
#mddivEquiVIS2{
    gap:40px;
    margin-right: -60px;
}

@media screen and (max-height:1200px) {

    #mdconP1EquiVIS2
    {margin-top:20px;margin-bottom:20px;}

    #mdcondivdivFOTOEquiVIS2{
height:200px;}
#mdinputNomeEqui{
        height: 30px;
    }

    #descinpEquiVIS
    {  height: 240px; margin-top:35px;margin-bottom: 30px;  }

    #btnAdicionarEquiVIS2{
        height: 30px;

    }
    #inputMDEquiVIS{
        padding:10px; 
        height: 30px;

    }
    #mddivEquiVIS2{
        gap:40px;
        margin-right: -60px;
    }

}
@media screen and (max-height:900px) {


    #mdconP1EquiVIS2
    {margin-top:20px;margin-bottom:20px;}

    #mdcondivdivFOTOEquiVIS2{
height:110px;}
#mdinputNomeEqui{
        height: 20px;
    }

    #descinpEquiVIS
    {  height: 200px; margin-top:30px;}

    #btnAdicionarEquiVIS2{


        height: 30px;

    }
    #inputMDEquiVIS{
        padding:10px; 
        height: 30px;

    }
    #mddivEquiVIS2{
        gap:20px;
    }

}
@media screen and (max-height:800px) {


    #mdconP1EquiVIS2
    {margin-top:20px;margin-bottom:20px;}

    #mdcondivdivFOTOEquiVIS2{
height:110px;}
#mdinputNomeEqui{
        height: 20px;
    }

    #descinpEquiVIS
    {  height: 200px; margin-top:30px;}

    #btnAdicionarEquiVIS2{
        margin-top: 30px;
        margin-bottom: 30px;

        height: 30px;

    }
    #inputMDEquiVIS{
        padding:10px; 
        height: 30px;

    }
    #mddivEquiVIS2{
        gap:20px;
    }

}
@media screen and (max-height:750px) {


    #mdconP1EquiVIS2
    {margin-top:20px;margin-bottom:20px;}

    #mdcondivdivFOTOEquiVIS2{
height:110px;}
#mdinputNomeEqui{
        height: 20px;
    }

    #descinpEquiVIS
    {  height: 200px; margin-top:30px;}

    #btnAdicionarEquiVIS2{
        margin-top: 30px;
        margin-bottom: 30px;

        height: 30px;

    }
    #inputMDEquiVIS{
        padding:10px; 
        height: 30px;

    }
    #mddivEquiVIS2{
        gap:20px;
    }
    #mdEquiVis2Conger{
        height:100%
    }
}
