#mdivfaixa1{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin-left: 80px;
}
#mdivfaixa1 p{
    font-size: 20px;
    font-weight: bold;
}
#mdDivTabela{
    margin-top: 20px;
    border-radius: 20px;
    width: 82vw;
    background-color: white;
    height: 80vh;
}
#mddivconTab{
display:flex;
justify-content: center;
}
.mdselectspantab{
font-size: 14px;
font-weight: bold;

}
#mdNavTab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #C3C3C3;
}
#mdSelectstab{

}
#mdselectfilter{
    border: 0px;
    background-color:#0075E8
}
.mdselecttab{
 border-radius: 8px;
 width: 10vw;
 height: 1.5vw;
 background-color: #AAAAAA;
 color: white;
}
#mdfoottab{
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #C3C3C3;
    text-align: center;
}
#mdfoottab div{
    display: flex;
    justify-content: center;
    align-items: center;
}
