#botoestab button,tabtip select{
width:100px;
height: 45px;
border-radius: 10px;
background-color: #14B57A;
margin-left: 20px;
margin-right: 20px;
}

#botoestab{
margin-bottom: 100px;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}   
#tabela{
    align-items: center;
    justify-content: center;
border:"solid 1px black";
width: 80%;
}
#table{
    font-family: "Krona One", sans-serif;
}
#divtabela{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contable{
    height: 10%;
    border-radius: 10px;
    background-color: #D9D9D9;
    width: 92%;
}
#container{
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
#traco{
    rotate: 30deg;
    border-right-color: black;
}
#pag{
    margin-bottom: 20px;
    margin-top: 20px;
}
#pag button, #Tabgastip{
    border-radius: 10px;
background-color: #14B57A;
   margin-left: 4px;
   margin-right: 4px;
}
#pag a button{
    width: "200px";

}
#tabtit{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#tabtit div{
    margin-inline: 100px;
    margin-left: 20px;
}
#tabtip{
    text-align: center;
}
